<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrustSentinel - Social Engineering Attack Detection</title>
    <link rel="stylesheet" href="static/js/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/site.css" />
    <link rel="stylesheet" href="static/css/_Layout.css" />
</head>
<body>
    <header class="header-color text-white">
        <nav class="navbar nav-bg-color navbar-expand-sm navbar-light nav-style shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <img src="static/images/logo.png" alt="TrustSentinel Logo" class="logo">
                    <span class="ms-2">TrustSentinel </span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-color" href="/contact">Contact</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="body-color text-white">
        <div class="container text-center">
            <h1 class="mt-4">TrustSentinel - Detect Social Engineering Attacks</h1>
            <p>Upload an audio, SMS, or email file to check for potential social engineering attacks.</p>
        
           <!-- صور الهيدر -->
        <div class="row justify-content-center my-4">
            <div class="col-md-4">
                <div class="image-container">
                    <img src="static/images/attacker.jpg" class="img-fluid border-radius shadow" alt="attacker image">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-container">
                    <img src="static/images/signature.png" class="img-fluid border-radius shadow" alt="attacker image">
                </div>
            </div>
        </div>
        
            <h1>Select The Type of your file to start checking</h1>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="item">
                        <img src="static/images/emailSpy.jpeg" alt="Phishing Email">
                        <a class="feature" href="/email">Ouch? Phishing Email!</a>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item">
                        <img src="static/images/sms.jpg" alt="Spam SMS">
                        <a class="feature" href="/sms">Catch The Spam SMS</a>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item">
                        <img src="static/images/robocall.jpg" alt="Robocalls">
                        <button class="feature">Hold The ROBOCALLS</button>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item">
                        <img src="static/images/QR.jpg" alt="Phishing Email">
                        <a class="feature" href="/URLDetector">Knowe Your URL Before Scan!</a>
                    </div>
                </div>
                
            </div>
            
        </div>
        </div>  
            <footer class="footer-top-border footer header-color text-white">
                <div class="container">
                    <p>&copy; 2025 TrustSentinel - All Rights Reserved</p>
                <div class="social-media">
                    <a href="#">Facebook</a>
                    <a href="#">LinkedIn</a>
                    <a href="#">Twitter</a>
                </div>
                   
                </div>
            </footer>
        
            <!-- Updated paths for static files -->
            <script src="static/js/lib/jquery/dist/jquery.min.js"></script>
            <script src="static/js/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="static/js/site.js"></script>
        </body>
        </html>
        
